@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  min-height: 100vh;
  padding-top: 86px;
  display: flex;
  flex-direction: column;
}

.custom-navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.loading-spinner-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: hsl(210, 90%, 35%) transparent hsl(210, 90%, 35%) transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tv-show-img {
  min-width: 210px;
  max-width: 210px;
  min-height: 295px;
  max-height: 295px;
}

.container-home {
  background-image: url('./assets/bg.jpg');
  z-index: 51;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-home {
  margin: auto;
  font-weight: 700;
  background-color: hsla(0, 0%, 0%, 0.5);
  color: hsl(210, 35%, 95%);
}

.btn-home {
  background-color: hsl(220, 15%, 35%);
  border-color: hsl(220, 15%, 30%);
  color: hsl(210, 35%, 95%);
}

@media (max-width: 640px) {
  .tv-show-img {
    width: 147px;
    height: 206.5px;
  }
}
