@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  min-height: 100vh;
  padding-top: 86px;
  display: flex;
  flex-direction: column;
}

.custom-navbar {
  position: fixed;
  top: 0;
  width: 100%;
}
